snippet doc "PHPDoc block"
/**
 * $0
 */
endsnippet

snippet pubf "public method"
public function $1($0)
{
}
endsnippet

snippet prof "protected method"
protected function $1($0)
{
}
endsnippet

snippet prif "private method"
private function $1($0)
{
}
endsnippet
